
### 제외로 지정된 상태라도 아래와 같이 파일을 직접 지정하면 강제로 commit 할 수 있다.
### git add -f .gitignore

/bin/
/build/
/target/
/logs/
/tmp/
/temp/

/unkownLogFile/
/unkownLogFile-error/

/src/main/generated/

### 서브프로젝트 or Module 프로젝트를 제외하기
**/bin/
**/build/
**/target/
**/logs/
**/tmp/
**/temp/
**/unkownLogFile/
**/unkownLogFile-error/
**/src/main/generated/

/.*
/.*/

/_*
/_*/

*.tmp
*.$$$
*.bak
*.back
*.backup
*.del
*.remove
*-ok-*


.gitignore
*.class
*.zip
*.7z
*.log
